.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.container__header {
  padding-top: 57px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22em;
  color: #262C27;
}

.header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2em;
  text-transform: uppercase;
  background-color: #2f303a;
  background-image: url(.././imgs/header-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.header::before {
  position: absolute;
  content: "";
  background-image: url(.././imgs/header-decor.svg);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 456px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(35%);
  z-index: 2;
}
.header::after {
  position: absolute;
  content: "";
  background-image: url(.././imgs/header-decor.svg);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 456px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(75%) rotate(180deg);
  z-index: 3;
}
@media screen and (max-width: 767px) {
  .header__top {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .header__top {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .header__top {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: flex-end;
  }
}
.header__content {
  position: relative;
  min-height: calc(100vh - 45px);
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__content {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .header__content {
    justify-content: flex-end;
  }
}
.header__content-box {
  max-width: 550px;
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .header__content-box {
    margin-right: 30px;
  }
}
.header__titel {
  margin-bottom: 20px;
  font-size: 64px;
  line-height: 1.12em;
  text-transform: uppercase;
}
@media screen and (max-width: 420px) {
  .header__titel {
    font-size: 50px;
  }
}
.header__text {
  margin: 0;
  font-size: 24px;
  line-height: 1.125em;
}
.header__text:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (max-width: 420px) {
  .header__text {
    font-size: 18px;
  }
}

.header__phone {
  padding: 5px;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .header__phone {
    display: block;
  }
}
.header__phone:hover, .header__phone:focus {
  color: #0093A1;
}

.header__decor-text {
  position: absolute;
  margin: 0;
  font-weight: 400;
  line-height: 1.12em;
  color: #0093A1;
}
@media screen and (max-width: 420px) {
  .header__decor-text {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .header__decor-text {
    font-size: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .header__decor-text {
    font-size: 130px;
  }
}
.header__decor-text--one {
  right: 150px;
  bottom: 136px;
  opacity: 0.5;
  z-index: 1;
}
@media screen and (max-width: 1199px) {
  .header__decor-text--one {
    opacity: 0.2;
  }
}
.header__decor-text--two {
  z-index: 4;
}
@media screen and (max-width: 1199px) {
  .header__decor-text--two {
    bottom: -100px;
    left: 0;
    opacity: 0.2;
  }
}
@media screen and (min-width: 1200px) {
  .header__decor-text--two {
    bottom: 0;
    left: 17%;
    opacity: 0.5;
  }
}
.header__decor-text--three {
  max-width: 360px;
  bottom: 25px;
  text-align: center;
  font-style: italic;
  font-weight: 300;
  font-size: 32px;
  line-height: 1.21em;
  z-index: 4;
}
@media screen and (max-width: 767px) {
  .header__decor-text--three {
    right: 50%;
    transform: translate(50%);
  }
}
@media screen and (min-width: 768px) {
  .header__decor-text--three {
    right: 145px;
  }
}

.logo {
  display: block;
}

.logo-icon {
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-icon:hover, .logo-icon:focus {
  fill: #0093A1;
}
.logo-icon__header {
  fill: #262C27;
}
.logo-icon__footer {
  fill: #ffffff;
}

.button {
  padding: 12px 50px 8.4px 50px;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  font-size: 20px;
  line-height: 1.2em;
  cursor: pointer;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__header {
  background-color: #262C27;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .button__header {
    width: 60%;
    margin: 30px 0;
  }
}
@media screen and (min-width: 768px) {
  .button__header {
    max-width: 193px;
    width: 100%;
  }
}
.button__header:hover, .button__header:focus {
  color: #262C27;
  background-color: #B9C400;
}
.button__footer {
  background-color: #ffffff;
  color: #000000;
}
.button__footer:hover, .button__footer:focus {
  color: #ffffff;
  background-color: #B9C400;
}

.button__play {
  position: absolute;
  text-align: center;
  border: none;
  background-color: transparent;
}
.button__play-icon {
  position: relative;
  fill: #ffffff;
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__play:hover .button__play-icon, .button__play:focus .button__play-icon {
  fill: #B9C400;
}
.button__play-span {
  display: block;
  margin-top: 12px;
  color: #ffffff;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__play:hover .button__play-span, .button__play:focus .button__play-span {
  color: #0093A1;
}
.button__play--info {
  bottom: 0;
  right: 0;
}
.button__play--tehnology {
  top: 50vh;
  right: 350px;
}

.button__buy {
  max-width: 448px;
  width: 100%;
  padding: 18px 50px 17px 50px;
  background-color: transparent;
  border: 2px solid #0093A1;
  font-size: 40px;
  line-height: 1.125em;
  color: #0093A1;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color 350ms cubic-bezier(0.4, 0, 0.2, 1), border 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__buy:hover, .button__buy:focus {
  color: #262C27;
  background-color: #B9C400;
  border: 2px solid #B9C400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.title {
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 60px;
  line-height: 1.12em;
  text-transform: uppercase;
}

.info {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: url(.././imgs/info-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  height: 150px;
  width: 100%;
  background-color: #262C27;
}
.info__inter {
  color: #ffffff;
}

.info__top {
  display: flex;
  margin-bottom: 65vh;
  padding-top: 80px;
  gap: 80px;
}
.info__top--text {
  position: relative;
  padding-top: 245px;
  width: 290px;
}
.info__top--text:not(:first-child) {
  border-bottom: 1px solid #FFFFFF;
}
.info__top--img {
  width: 227px;
  z-index: 5;
}

.info__specs {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}
.info__specs-titel {
  margin-right: 160px;
}
.info__specs-list {
  width: 565px;
  padding: 30px 0;
  font-weight: 700;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
.info__specs-item {
  display: flex;
  gap: 25px;
}
.info__specs-coption {
  width: 185px;
}

.buy {
  padding: 150px 0 0;
}
.buy__inter {
  display: flex;
  align-items: center;
  gap: 90px;
}
.buy__content {
  position: relative;
  width: 510px;
}
.buy__title {
  margin-bottom: 50px;
  color: #0093A1;
}
.buy__list {
  width: 295px;
  margin-bottom: 50px;
}
.buy__prices {
  position: absolute;
  right: 0;
  bottom: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 201px;
  height: 199px;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2em;
  background-image: url(.././imgs/prise-star.svg);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buy__prices:hover {
  transform: scale(1.3);
}

.buy__item {
  margin-bottom: 25px;
}
.buy__item:last-child {
  margin-bottom: 0;
}
.buy__item:hover, .buy__item:focus {
  cursor: pointer;
}
.buy__item-title {
  margin-bottom: 5px;
  font-weight: 700;
  text-transform: uppercase;
}
.buy__item:hover .buy__item-title, .buy__item:focus .buy__item-title {
  color: #0093A1;
}

.tehnology {
  padding-bottom: 150px;
}
.tehnology__top {
  background-color: #2f303a;
  background-image: url(.././imgs/technology-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tehnology__inner {
  position: relative;
  height: 110vh;
}
.tehnology__top-box {
  position: absolute;
  bottom: 85px;
  left: 0;
  max-width: 470px;
}
.tehnology__title {
  margin-bottom: 62px;
}

.tehnology__list {
  margin: 0;
  padding-left: 25px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2em;
}
.tehnology__list-item {
  margin-bottom: 15px;
  padding-left: 24px;
}
.tehnology__list-item :last-child {
  margin-bottom: 0;
}

.gallery__box {
  display: flex;
  gap: 65px;
  margin-top: 115px;
}

.gallery__text {
  width: 350px;
}

.gallery__min {
  position: relative;
  margin-top: -35%;
  margin-bottom: 150px;
  padding: 72px 31px 52px;
  display: grid;
  gap: 30px 24px;
  grid-template-columns: 481px 208px;
  grid-template-rows: 432px 300px;
}
.gallery__min::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 3px solid #262C27;
  border-radius: 200px 0px 300px;
}
.gallery__min-img--1 {
  grid-column: 1/3;
  border-radius: 400px 0px 0px 0px;
}
.gallery__min-img--2 {
  border-radius: 0px 0px 0px 300px;
}

.gallery__max {
  display: grid;
  gap: 20px;
  grid-template-columns: 300px 469px 391px;
  grid-template-rows: 340px 270px 270px;
}
.gallery__max-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #0093A1;
  border-radius: 0px 0px 0px 200px;
  font-style: italic;
  font-weight: 800;
  font-size: 32px;
  line-height: 1.22em;
  color: #ffffff;
}
.gallery__max-img--2 {
  grid-column: 2/-1;
  justify-self: end;
  border-radius: 0px 500px 0px 0px;
}
.gallery__max-img--3 {
  border-radius: 0px 0px 150px 0px;
}
.gallery__max-img--4 {
  border-radius: 0px 200px 0px 0px;
}
.gallery__max-img--5 {
  border-radius: 200px 0px 0px 0px;
}
.gallery__max-img--6 {
  grid-column: 2/-1;
  border-radius: 0px 0px 0px 400px;
}

.footer {
  padding: 100px 0 83px;
  background-color: #262C27;
  color: #ffffff;
}

.footer__top {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  margin-bottom: 97px;
}

.footer__form-titel {
  margin-bottom: 27px;
}
.footer__form-input {
  max-width: 500px;
  width: 100%;
  margin-bottom: 50px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;
}
.footer__form-input::-moz-placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  opacity: 0.2;
}
.footer__form-input:-ms-input-placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  opacity: 0.2;
}
.footer__form-input::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  opacity: 0.2;
}

.footer__social {
  margin-bottom: 48px;
}
.footer__social-text {
  margin-bottom: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__gallery {
  display: flex;
  justify-content: space-between;
}

.mein-nav__list {
  display: flex;
  gap: 90px;
  font-weight: 700;
}
.mein-nav__link {
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mein-nav__link:hover, .mein-nav__link:focus {
  color: #0093A1;
}/*# sourceMappingURL=main.css.map */