.button { 
  padding: 12px 50px 8.4px 50px;

  font-family: 'Comfortaa', cursive;
  font-weight: 700;  
  text-transform: uppercase;
  border: none;
  
  font-size: 20px;
  line-height: 1.2em;

  cursor: pointer;

  transition: color 350ms $timing-function,
    background-color 350ms $timing-function;  

  &__header {
    background-color: $primary-color;
  
    color: $secondary-text-color;

    @media screen and (max-width: 767px) {      
      width: 60%;
      margin: 30px 0;
    }

    @media screen and (min-width: 768px) {
      max-width: 193px;
      width: 100%;
    }
    
    &:hover,
    &:focus {
      color: $primary-text-color;
      background-color: $accent-color;
    }  
  }

  &__footer {
    background-color: #ffffff;
    
    color: #000000;

    &:hover,
    &:focus {
      color: $secondary-text-color;
      background-color: $accent-color;
    }  
  }
}

.button__play {
  position: absolute;
  text-align: center;
  border: none;
  background-color: transparent;
    
  &-icon {
    position: relative;

    fill: #ffffff;
        
    transition: fill 350ms $timing-function;    
       
    .button__play:hover &,
    .button__play:focus & {
      fill: $accent-color;
    }
  }

  &-span {
    display: block;
    margin-top: 12px;
  
    color: #ffffff;
  
    transition: color 350ms $timing-function;
  
    .button__play:hover &,
    .button__play:focus & {
      color: $accent-text-color;
    }
  }

  &--info {    
    bottom: 0;   
    right: 0;
  }  

  &--tehnology {    
    top: 50vh;
    right: 350px;
  }
}

.button__buy {
  max-width: 448px;
  width: 100%;
  padding: 18px 50px 17px 50px;
  background-color: transparent;
  border: 2px solid $accent-text-color;

  font-size: 40px;
  line-height: 1.125em;
  color: $accent-text-color;

  transition: color 350ms $timing-function,
    background-color 350ms $timing-function,
    border 350ms $timing-function;

  &:hover,
  &:focus {
    color: $primary-text-color;
    background-color: $accent-color;
    border: 2px solid $accent-color;
  }
}