.buy {
  padding: 150px 0 0;

  &__inter {
    display: flex;
    justify-content: center;
        
    @media screen and (max-width: 1199px) {
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
      align-items: center;
      gap: 90px;
    }
  }

  &__content {
    position: relative;    

    width: 503px;

    @media screen and (max-width: 1199px) {
      width: 100%;

      order: 1;
    }
  }

  &__title {
    margin-bottom: 50px;
    
    color: $accent-text-color;
  }

  &__list {
    width: 295px;
    margin-bottom: 50px;

    @media screen and (max-width: 1199px) {
      width: 100%;
      max-width: 490px;
    }
  } 
  
  &__prices {
    position: absolute;
    right: 0;
    bottom: 130px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 201px;
    height: 199px;

    font-weight: 700;
    font-size: 35px;
    line-height: 1.2em;    

    background-image: url(.././imgs/prise-star.svg);        
    
    transition: transform 350ms $timing-function;

    @media screen and (max-width: 500px) {
      width: 170px;
      height: 168px;
      background-size: cover;
      right: 0;
      bottom: 105%;

    }
    
    @media screen and (min-width: 501px) and (max-width: 750px) {
      right: 0;
      bottom: 105%;
    }
  }

  &__prices:hover {
    transform: scale(1.3);
  } 

  &__img {
    @media screen and (max-width: 1199px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

.buy__item {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    cursor: pointer;
  }

  &-title {
    margin-bottom: 5px;

    font-weight: 700;
    text-transform: uppercase;

    .buy__item:hover &,
    .buy__item:focus & {
      color: $accent-text-color;      
    }
  }
}