.footer {
  padding: 100px 0 83px;

  background-color: $primary-color;

  color: $secondary-text-color;
}

.footer__top {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;  
  margin-bottom: 97px;

  @media screen and (max-width: 1199px) {
    text-align: center;
    flex-direction: column;
  }
}

.footer__form {
    
  &-titel {
    margin-bottom: 27px;

    @media screen and (max-width: 560px) {
      font-size: 40px;
    }
  }

  &-input {
    max-width: 500px;
    width: 100%;
    // display: block;   
    margin-bottom: 50px;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    color: #fff;

    &::placeholder {
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      opacity: 0.2;
    }

  }
}

.footer__social {
  margin-bottom: 48px;

  &-text  {
    margin-bottom: 28px;

    font-weight: 700;
    text-transform: uppercase;

    @media screen and (max-width: 1199px) {
      text-align: center;
    }
  }
}

.footer__gallery {
  display: flex;
  gap: 20px;
  justify-content: space-between; 

  @media screen and (max-width: 1199px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
    
  // @media screen and (max-width: 1199px) {
  //   flex-wrap: wrap;
  //   gap: 20px;
  // }

  // @media screen and (min-width: 1200px) {
  //   justify-content: space-between;
  // }

  &-img {
    @media screen and (max-width: 1199px) {
      width: 100%;
      align-self: stretch;
    }
  }
}

.mein-nav {
  &__list {    
    font-weight: 700;

    @media screen and (max-width: 1199px) {
      text-align: center;      
    }
    
    @media screen and (min-width: 1200px) {
      display: flex;
      gap: 90px
    }  
  }

  &__item {
    @media screen and (max-width: 1199px) {
      margin-bottom: 50px;
    }
  }

  &__link {
    transition: color 350ms $timing-function;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-text-color;
  }
}