.info {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  
  background-color: #2f303a;
  background-image: url(.././imgs/info-bg.jpg);  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // min-height: 100%; 

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);

    height: 150px;
    width: 100%;

    background-color: $primary-color;
  }

  &__inner {
    color: $secondary-text-color;
  }
}

.info__top {
  display: block;
  margin-bottom: 65vh;
  padding-top: 300px;

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-bottom: 65vh;
    padding-top: 80px;
    gap: 80px;
  }

  &--text {
    position: relative;

    @media screen and (max-width: 419px) {      
      margin-bottom: 180px;
    }
    
    @media screen and (min-width: 420px) and (max-width: 1199px) {  
      margin-bottom: 150px;      
    }

    @media screen and (max-width: 1199px) {
      width: 100%;

      &:not(:first-child) {
        margin-bottom: 10px;
      }
    }

    @media screen and (min-width: 1200px) {      
      padding-top: 245px;
      width: 290px;
    }
    
    &:not(:first-child) {
      padding-bottom: 30px;
      border-bottom: 1px solid #FFFFFF;
    }
  }
  
  &--img {
    width: 227px;
    
    z-index: 5;

    @media screen and (max-width: 1199px) {
      display: block;
      margin: 0 auto;
    }
  }
}

.info__specs {
  display: block;
  padding-bottom: 50px;  

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;    
  }

  &-titel {    

    @media screen and (max-width: 1199px) {
      margin-bottom: 10px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 160px;
    }
  }

  &-list {    
    padding: 30px 0;

    font-weight: 700;

    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;

    @media screen and (max-width: 629px) {
      width: 100%;
    }  

    @media screen and (min-width: 630px) {
      width: 565px;
    }
  }

  &-item {
    
    @media screen and (max-width: 629px) {
      display: block;

      &:not(:last-child) {
        margin-bottom: 25px;
      }      
    }

    @media screen and (min-width: 630px) {
      display: flex;
      gap: 25px;
    }
  }

  &-coption {
    width: 185px;
  }
}
