.logo {
  display: block;

  &__footer { 

    @media screen and (max-width: 1199px) {
      margin-bottom: 50px;

      order: -1;
    }
  }
}

.logo-icon { 
  transition: fill 350ms $timing-function;

  &:hover,
  &:focus {
    fill: $accent-text-color;
  }

  &__header {   
    fill: $primary-text-color;
  }

  &__footer {
    fill: $secondary-text-color;    

    @media screen and (max-width: 560px) {
      width: 90%;
    }
  }
}