h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.title {
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  font-size: 60px;
  line-height: 1.12em;
  text-transform: uppercase;

  @media screen and (max-width: 550px) {
    font-size: 48px;
  }  
}